<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 100px; /* Adjust this value to match your footer height */
        }

        .footer {
            position: relative;
            bottom: 0;
            width: 100%;
            background-color: #f8f9fa; /* Adjust as needed */
            padding: 20px 0; /* Adjust padding as needed */
            color: #333; /* Adjust text color as needed */
        }
    </style>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PromoFusion</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRlAGUao5OJ4t2b3AwA0tDSPh8PXRtD4+T16g8WXgD3o2Xhv8Oy7erFpo58g02Y" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Favicons -->
    <link href="assets/img/logo2.png" rel="icon">
    <link href="assets/img/logo2.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/main.css" rel="stylesheet"/>
    <script src="~/assets/js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



</head>


<body>

    <!-- ======= Header ======= -->
    <section id="topbar" class="topbar d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">PromoFusion94@gmail.com</a></i>
                <i class="bi bi-phone d-flex align-items-center ms-4"><span>+961 457962</span></i>
            </div>
            <div class="social-links d-none d-md-flex align-items-center">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
            </div>
        </div>
    </section><!-- End Top Bar -->

    <header id="header" class="header d-flex align-items-center ">

        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1><span style="color: #fd5f00;">Promo</span>Fusion</h1>
            </a>


            <nav id="navbar" class="navbar">

                <ul>
                    <li>
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                    @if (User.IsInRole(MarketingHub.Utility.SD.Role_Cust))
                    {
                        <!-- Customer Links -->
                        <li class="dropdown">
                            <a class="nav-link text-light dropdown-toggle" href="#" id="customerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Customer Panel
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="customerDropdown">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Customer" asp-action="Index">Agencies</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Customer" asp-action="MyRequests">My Requests</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Customer" asp-action="ViewProposals">My Proposals</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Customer" asp-action="ViewRejectedProposals">My Rejected Proposals</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Customer" asp-action="Profile">My Profile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Customer" asp-action="ViewReports">My Reports</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Customer" asp-action="Payments">My Payments</a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole(MarketingHub.Utility.SD.Role_Agency))
                    {
                        <!-- Agency Panel -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="agencyDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Agency Panel
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="agencyDropdown">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="MarketingAgency" asp-action="Index">Marketing Agencies</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="MarketingAgency" asp-action="Requests">Pending Requests</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="MarketingAgency" asp-action="ProposalsReceived">Pending Proposals</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="MarketingAgency" asp-action="Profile">My Profile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="MarketingAgency" asp-action="ViewReports">View reports</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="MarketingAgency" asp-action="Payments">View Payments</a>
                                </li>
                            </ul>
                        </li>

                        <!-- Manage Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="manageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Manage
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="manageDropdown">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="MarketingAgency" asp-action="Categories">Manage Categories</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="MarketingAgency" asp-action="ContractTypes">Manage Contract Types</a>
                                </li>
                            </ul>
                        </li>
                    }

                    

                    @if (User.IsInRole(MarketingHub.Utility.SD.Role_Admin))
                    {
                        <li class="dropdown">
                            <a class="nav-link text-light dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Administrator
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Administrator" asp-action="Index">Agencies</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Administrator" asp-action="displayAdmin">Administrators</a>
                                </li>
                                <!-- Management Panel -->
                               
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="nav-link text-light dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Management Panel
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="managementDropdown">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Administrator" asp-action="ManageAgencyCategories">Manage Agency Category</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Administrator" asp-action="ManageAgencyContractTypes">Manage Agency Contract Type</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Administrator" asp-action="Reports">View Reports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Administrator" asp-action="Payments">View Payments</a>
                        </li>
                    }
                    <!-- Other Links -->
                    <li class="dropdown">
                        <a class="nav-link text-light dropdown-toggle" href="#" id="moreDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            More
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="moreDropdown">
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="nav-link text-light dropdown-toggle" href="#" id="moreDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Connect With Us
                        </a>
                        <partial name="_LoginPartial">
                    </li>
                    
                </ul>
            </nav>
    </div>
            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
</header>


    <div class="container-fluid flex-grow-1" style="margin:0; padding:0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer" class="footer">
       
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a class="logo d-flex align-items-center">
                        <span> <span style="color: #fd5f00;">Promo</span>Fusion</span>
                    </a>
                    <p>
                       Beirut, 1107<br>
                        Lebanon <br>
                        Phone: +961 457962<br>
                        Email: PromoFusion94@gmail.com<br>
                    <div class="social-links d-flex mt-4">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Home" asp-action="About">About us</a></li>
                        <li><a asp-controller="Home" asp-action="Privacy">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Contract Type Services</h4>
                    <ul>
                        <li><a>Full Implementaion</a></li>
                        <li><a>Material</a></li>
                        <li><a>Strategy</a></li>

                    </ul>
                </div>
                <div class="col-lg-2 col-6 footer-links">
                    <h4> Provided Category Types</h4>
                    <ul>
                        <li><a>Digital Media</a></li>
                        <li><a>Video Promotion</a></li>
                        <li><a>Image</a></li>
                        <li><a>Audio</a></li>


                    </ul>
                </div>

            </div>
        </div>

        <div class="container mt-4">
            <div class="copyright">
                &copy; Copyright <strong><span>PromoFusion</span></strong> All Rights Reserved
            </div>
        </div>

    </footer>
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>


    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/assets/js/main.js"></script>
    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>


</body>

</html>

